@import url('./__content/popup__content.css');
@import url('./__content/_content/popup__content_content_image.css');
@import url('./__close/popup__close.css');
@import url('./__title/popup__title.css');
@import url('./__form/popup__form.css');
@import url('./__input/popup__input.css');
@import url('./__button/popup__button.css');
@import url('./__caption/popup__caption.css');
@import url('./__image/popup__image.css');

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  font-family: 'Inter', Arial, sans-serif;
}

.popup__input_type_error {
  border-bottom: 2px solid red;
}

.popup__error_visible {
  display: block;
}

.popup__input-error {
  color: red;
  font-size: 12px;
}

.popup__input:focus {
  outline: none;
}

.popup__button_disabled {
  opacity: 20%;
  border: 1px solid black;
  background-color: transparent;
  color: black;
}